
.slider {
  width: 100%;
  position: relative;

  &-Size_24 {
    height: 24px;
  }

  &-Size_32 {
    height: 32px;
  }

  &-continuous {
    
  }

  &-discreet {
   
  }

  &-single {

  }

  &-range {
 
  }

  .slider-input {
    width: 100%;
    cursor: pointer;

    &:hover {

    }

    &:active {
  
    }
  }
}
